<%- include head.ejs %>

<body>
  <%- include header.ejs %>
  <div class='container'>
	  <%- include('existing_item.ejs', {category_items: items['Diagnosis']}) %>
	  <%- include('existing_item.ejs', {category_items: items['Complaint']}) %>
	  <%- include('existing_item.ejs', {category_items: items['Treatment']}) %>
	  <%- include('existing_item.ejs', {category_items: items['Prescription']}) %>
	  <%- include('existing_item.ejs', {category_items: items['Test']}) %>
  </div>
</body>
